@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*   ### Primary   */
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

/*   ### Neutral   */

$very-vark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); /*(with 75% opacity for lightbox background)*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

body {
   font-family: Kumbh Sans, sans-serif;
   position: relative;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gallery {
   display: none;
}

.attribution {
   text-align: center;
   padding: 1rem;
}

@import 'partials/carrito';
@import 'partials/mobile';

.header {
   display: flex;
   padding: 1.5rem;
   justify-content: space-between;
   align-items: center;
   .header__profile {
      height: 1.5rem;
      margin-left: 1rem;
      border-radius: 50%;
   }
   .header__profile:hover {
      outline: 2px solid $orange;
      transition: outline ease-in;
   }
   .header__menu {
      display: none;
   }

   #header__hamb {
      cursor: pointer;
      user-select: none;
   }
   .header__logo {
      margin-left: 0.7rem;
   }
   .header__derecha {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .header__carrito {
      position: relative;
      top: 3px;
      cursor: pointer;
      user-select: none;
   }
   .header__carrito svg {
      user-select: none;
   }
   .header__carrito__num {
      position: absolute;
      top: -7px;
      right: -6px;
      font-size: 11px;
      color: white;
      background-color: $orange;
      padding: 0 0.4rem;
      border-radius: 10px;
   }
}

.delete {
   cursor: pointer;
}

.producto {
   max-width: 650px;
   margin: 0 auto;
   .carrousel {
      user-select: none;
      position: relative;
      overflow: hidden;

      .carrousel__img {
         position: absolute;
         visibility: hidden;
         opacity: 0;
         transition: opacity 200ms ease-in-out;
         transition-delay: 200ms;
      }
      .active {
         position: relative;
         opacity: 1;
         transition-delay: 0ms;
         visibility: visible;
      }
      .carrousel__controls {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         display: flex;
         justify-content: space-between;
         padding: 1.2rem;
         div {
            background-color: white;
            border-radius: 50%;
            width: 42px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .carrousel__boton {
            height: 0.8rem;
            width: 0.65rem;
         }
         #carrousel__prev {
            cursor: pointer;
            user-select: none;
         }
         #carrousel__next {
            cursor: pointer;
            user-select: none;
         }
         #carrousel__next img {
            cursor: pointer;
            user-select: none;
         }
         #carrousel__prev img {
            cursor: pointer;
            user-select: none;
         }
      }
   }
   .producto__info {
      padding: 1.2rem;
      .cantidad__container {
         user-select: none;
      }
      .producto__company {
         text-transform: uppercase;
         font-weight: 700;
         color: $orange;
         letter-spacing: 1px;
         font-size: 14px;
      }
      .producto__title {
         margin-top: 0.7rem;
         font-size: 1.8rem;
         line-height: 1.2;
      }
      .producto__desc {
         margin-top: 1rem;
         color: $dark-grayish-blue;
         font-size: 15px;
         line-height: 1.5;
         letter-spacing: 0.1px;
      }
      .producto__precio {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 1.5rem;
         div {
            display: flex;
            align-items: center;
         }
         .producto__precioAct {
            font-weight: 700;
            font-size: 1.8rem;
         }
         .producto__descuento {
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            height: 100%;
            font-weight: 700;
            background-color: $pale-orange;
            color: $orange;
            margin-left: 1rem;
         }
         .producto__precAnterior {
            color: $grayish-blue;
            text-decoration: line-through;
         }
      }

      .producto__cantidad {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-weight: 700;
         padding: 1.2rem;
         background-color: $light-grayish-blue;
         border-radius: 10px;
         margin-top: 1.5rem;

         div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            transition: 0.2s all;
            cursor: pointer;
         }

         .producto__cantidad--minus {
            width: 0.8rem;
         }
         div:hover {
            transform: scale(1.3);
            transition: 0.2s all;
         }
      }
   }
}

.producto__boton {
   padding: 1.2rem;
   outline: none;
   border: none;
   background-color: $orange;
   border-radius: 10px;
   margin-top: 1rem;
   width: 100%;
   color: white;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: hsla(26, 100%, 55%, 0.787) 0px 18px 25px -10px;
   transition: 0.3s;
   cursor: pointer;
   &:hover {
      background-color: hsla(26, 100%, 55%, 0.767);
      transition: 0.3s;
   }
   span {
      margin-left: 1rem;
      font-size: 16px;
      font-family: inherit;
      position: relative;
      bottom: -2px;
   }
   &:active {
      transform: scale(1.1);
      transition: 0.2s;
   }
}
@media only screen and (min-width: 1305px) {
   .carrito {
      right: -56px;
      top: 96px;
   }
}

@media only screen and (min-width: 1240px) {
   .carrito {
      opacity: 0;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   }
   .opacity {
      opacity: 1;
   }
   .wrapper {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
   }
   .carrousel {
      display: none;
   }
   .producto {
      max-width: none;
      display: flex;
      min-height: calc(100vh - 181px);
      justify-content: center;
      align-items: center;
      padding: 4rem;
      gap: 8rem;
      .producto__info {
         .producto__title {
            font-size: 2.8rem;
         }
         .producto__desc {
            font-size: 16px;
         }
         .producto__precio {
            flex-direction: column;
            align-items: unset;
            span {
               margin-top: 0.5rem;
            }
         }
         .cantidad__container {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            .producto__cantidad {
               width: 35%;
               margin-top: 0%;
            }
            .producto__boton {
               width: 65%;
               margin-top: 0;
            }
         }
      }
   }
   .gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
         border-radius: 15px;
         cursor: pointer;
      }
      .gallery__active {
         opacity: 0.5;
      }
   }
   .gallery__thumbnail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;
      .gallery__border {
         outline: 2px solid $orange;
         border-radius: 10px;
         height: 85px;
      }

      img {
         width: 85px;
         border-radius: 10px;
         transition: opacity 0.3s;
         cursor: pointer;
         &:hover {
            opacity: 0.3;
            transition: opacity 0.3s;
         }
      }
   }
   .header {
      padding: 2rem 0rem 2.5rem 0rem;
      border-bottom: 1px solid $grayish-blue;
      .header__izquierda {
         display: flex;
      }
      .header__menu {
         display: flex;
         list-style-type: none;
         margin-left: 3rem;
      }
      .header__menu li {
         margin: 0rem 1rem;
         color: $dark-grayish-blue;
         cursor: pointer;
         position: relative;
      }
      .header__menu li:after {
         content: '';
         position: absolute;
         width: 100%;
         transform: scaleX(0);
         height: 4px;
         bottom: -60px;
         left: 0;
         background-color: $orange;
         transform-origin: bottom right;
         transition: transform 0.25s ease-out;
      }

      .header__menu li:hover:after {
         transform: scaleX(1);
         transform-origin: bottom left;
      }
      .header__logo {
         margin: 0;
      }
      .header__profile {
         height: 3.5rem;
         margin-left: 4rem;
      }
   }

   #header__hamb {
      display: none;
   }
}
