@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*   ### Primary   */
/*   ### Neutral   */
/*(with 75% opacity for lightbox background)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Kumbh Sans, sans-serif;
  position: relative;
}

.carrito {
  position: absolute;
  z-index: 2;
  right: 0;
  box-shadow: none;
  opacity: 1;
  margin: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
  max-width: 360px;
  width: 96%;
  transition: opacity 0.1s ease-in;
}

.carrito .carrito-inner {
  transform: translateY(-120%);
  background-color: white;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
}

.carrito .carrito-activo {
  transform: translateY(0);
}

.carrito .cart {
  padding: 1.5rem;
  border-bottom: 1px solid #b6bcc8;
  font-weight: 700;
  color: #1d2025;
}

.carrito .btn {
  padding: 0 1rem 2rem 1rem;
}

.carrito .producto__boton {
  margin-top: 0;
  box-shadow: none;
}

.carrito .producto__boton span {
  margin-left: 0;
  position: unset;
}

.carrito .hidden {
  display: none;
}

.carrito .carrito__info .carroVacio {
  text-align: center;
  font-weight: 600;
  color: #68707d;
  padding: 6.5rem 0;
  font-size: 16px;
}

.carrito .carrito__info .cproducto-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.carrito .carrito__info .cproducto-wrapper .cproducto {
  display: grid;
  grid-template-columns: 22% 64%;
  grid-template-rows: auto auto;
}

.carrito .carrito__info .cproducto-wrapper .cproducto span {
  color: #68707d;
}

.carrito .carrito__info .cproducto-wrapper .cproducto .cproducto__img {
  width: 50px;
  border-radius: 5px;
  grid-row: 1/3;
}

.carrito .carrito__info .cproducto-wrapper .cproducto .cproducto__nomb {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carrito .carrito__info .cproducto-wrapper .cproducto .cproducto__total {
  font-weight: 700;
  color: #1d2025;
}

.pathcarrito {
  fill: #1d2025;
}

.mobile-wrapper {
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 15;
  transform: translateX(-150%);
  transition: transform 0.5s ease-in-out;
}

.mobile {
  position: absolute;
  z-index: 16;
  background-color: white;
  height: 100vh;
  width: 65%;
  padding: 1.8rem 1.5rem;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
  max-width: 400px;
}

.mobile .mobile__img {
  width: 16px;
  cursor: pointer;
}

.mobile .mobile__list {
  margin-top: 3.5rem;
  list-style-type: none;
  font-weight: 700;
  color: #1d2025;
}

.mobile .mobile__list li {
  margin-top: 1.8rem;
  font-size: 1.2rem;
}

.mobile__active {
  transform: translate(0%);
}

.header {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.header .header__profile {
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 50%;
}

.header .header__profile:hover {
  outline: 2px solid #ff7d1a;
  transition: outline ease-in;
}

.header .header__menu {
  display: none;
}

.header #header__hamb {
  cursor: pointer;
}

.header .header__logo {
  margin-left: 0.7rem;
}

.header .header__derecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__carrito {
  position: relative;
  top: 3px;
  cursor: pointer;
  user-select: none;
}

.header .header__carrito__num {
  position: absolute;
  top: -7px;
  right: -6px;
  font-size: 11px;
  color: white;
  background-color: #ff7d1a;
  padding: 0 0.4rem;
  border-radius: 10px;
}

.producto {
  max-width: 650px;
  margin: 0 auto;
}

.producto .carrousel {
  user-select: none;
  position: relative;
  overflow: hidden;
}

.producto .carrousel .carrousel__img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  transition-delay: 200ms;
}

.producto .carrousel .active {
  position: relative;
  opacity: 1;
  transition-delay: 0ms;
  visibility: visible;
}

.producto .carrousel .carrousel__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.producto .carrousel .carrousel__controls div {
  background-color: white;
  border-radius: 50%;
  width: 42px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto .carrousel .carrousel__controls .carrousel__boton {
  height: 0.8rem;
  width: 0.65rem;
}

.producto .carrousel .carrousel__controls #carrousel__prev {
  cursor: pointer;
}

.producto .carrousel .carrousel__controls #carrousel__next {
  cursor: pointer;
}

.producto .producto__info {
  padding: 1.2rem;
}

.producto .producto__info .cantidad__container {
  user-select: none;
}

.producto .producto__info .producto__company {
  text-transform: uppercase;
  font-weight: 700;
  color: #ff7d1a;
  letter-spacing: 1px;
  font-size: 14px;
}

.producto .producto__info .producto__title {
  margin-top: 0.7rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.producto .producto__info .producto__desc {
  margin-top: 1rem;
  color: #68707d;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.producto .producto__info .producto__precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.producto .producto__info .producto__precio div {
  display: flex;
  align-items: center;
}

.producto .producto__info .producto__precio .producto__precioAct {
  font-weight: 700;
  font-size: 1.8rem;
}

.producto .producto__info .producto__precio .producto__descuento {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  height: 100%;
  font-weight: 700;
  background-color: #ffede0;
  color: #ff7d1a;
  margin-left: 1rem;
}

.producto .producto__info .producto__precio .producto__precAnterior {
  color: #b6bcc8;
  text-decoration: line-through;
}

.producto .producto__info .producto__cantidad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 1.2rem;
  background-color: #f7f8fd;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.producto .producto__info .producto__cantidad div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  transition: 0.2s all;
  cursor: pointer;
}

.producto .producto__info .producto__cantidad .producto__cantidad--minus {
  width: 0.8rem;
}

.producto .producto__info .producto__cantidad div:hover {
  transform: scale(1.3);
  transition: 0.2s all;
}

.producto__boton {
  padding: 1.2rem;
  outline: none;
  border: none;
  background-color: #ff7d1a;
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 125, 26, 0.787) 0px 18px 25px -10px;
}

.producto__boton span {
  margin-left: 1rem;
  font-size: 16px;
  font-family: inherit;
  position: relative;
  bottom: -2px;
}

@media only screen and (min-width: 1305px) {
  .carrito {
    right: -56px;
    top: 96px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrito {
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .opacity {
    opacity: 1;
  }
  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
  }
  .producto {
    max-width: none;
    display: flex;
    min-height: calc(100vh - 129px);
    justify-content: center;
    align-items: center;
  }
  .header {
    padding: 2rem 0rem 2.5rem 0rem;
    border-bottom: 1px solid #b6bcc8;
  }
  .header .header__izquierda {
    display: flex;
  }
  .header .header__menu {
    display: flex;
    list-style-type: none;
    margin-left: 3rem;
  }
  .header .header__menu li {
    margin: 0rem 1rem;
    color: #68707d;
    cursor: pointer;
    position: relative;
  }
  .header .header__menu li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -60px;
    left: 0;
    background-color: #ff7d1a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .header .header__menu li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .header .header__logo {
    margin: 0;
  }
  .header .header__profile {
    height: 3.5rem;
    margin-left: 4rem;
  }
  #header__hamb {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */